body
{
     background-image: url(https://thumbs.dreamstime.com/b/literature-study-stack-books-grey-background-143162184.jpg);
	 background-size: cover;
}

	.login_div1 , .login_div2
	{
		background: rgb(80, 160, 123);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(48, 175, 175);
border-radius: 10px;
border-top: 10px solid #7c44aa;
padding: 10px;
float: none;
text-align: left;
}